<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226159701325-2kemt171n6mo7hrv6ffcou4jip13kmhe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226159701325-2kemt171n6mo7hrv6ffcou4jip13kmhe</string>
	<key>API_KEY</key>
	<string>AIzaSyBzq-R9hGhYOSP2-Z4B_DkWF7IzKF4jVD8</string>
	<key>GCM_SENDER_ID</key>
	<string>226159701325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.galleryApp</string>
	<key>PROJECT_ID</key>
	<string>gallery-app-4fa57</string>
	<key>STORAGE_BUCKET</key>
	<string>gallery-app-4fa57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226159701325:ios:36762988a36864146a5b04</string>
</dict>
</plist>